# Backups
*~

# Lispworks object files
*.fsl
*.ofasl
*.ufasl
*.xfasl

# CLISP object files
*.fas
*.lib

# SBCL object files
*.fasl

# Texinfo dregs from the manual
doc/*.aux
doc/*.cp
doc/*.cps
doc/*.fn
doc/*.fns
doc/*.html
doc/*.info
doc/*.ky
doc/*.log
doc/*.pdf
doc/*.pg
doc/*.toc
doc/*.tp
doc/*.vr

# Folders tweaking information from Mac OSX
.DS_Store

